@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

/* Index */
/* Header */

.page-header {
    color: #000000;
    background-color: #ffe17f;
}

.page-logo-container {
    padding-left: 60px;
}

.page-logo-link {
    display: inline-block;
}

.header-wrapper {
    width: 1040px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 26px;
    padding: 0 60px;
    margin-bottom: 30px;
}

.header-search {
    display: flex;
    max-width: 517px;
}

.header-search svg {
    position: absolute;
}

.search-field {
    width: 359px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.search-button {
    width: 160px;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.user-login {
    display: flex;
    margin-right: auto;
}

.user-login-list {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.authorized {
    display: flex;
    gap: 28px;
}

.user-menu {
    flex-wrap: wrap;
}

.user-menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-menu-item {
    display: block;
}

.user-menu-link {
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navigation {
    padding: 0 60px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 47px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-item:first-child {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navigation-category-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    line-height: 21.13px;
    letter-spacing: 0.2em;
}

.navigation-catalog {
    list-style-type: none;
}

.navigation-catalog-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

/* Main */
/* Hero block */
.main-container {
    flex-grow: 1;
}

.hero-block {
    margin-bottom: 70px;
}

.slider-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-item-text {
    width: 560px;
}

.slider-item-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.slider-item-description {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.slider-item-link {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.slider-item-details {
    margin-top: 50px;
}

.table-row {
    font-size: 36px;
}

.table-header th {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

.slider-pagination {
    list-style-type: none;
}

/* Categories */
.categories {
    margin-bottom: 70px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.categories-item {
    width: 160px;
}

.categories-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    background-color: #ffe17f;
}

.categories-item-image img {
    display: block;
}

.selfie-monopod {
    align-items: flex-end;
}

.categories-item-title {
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: #000000;
}

.categories-item-title h3 {
    margin: 0;
}

/* Capabilities */
.capabilities {
    margin-bottom: 70px;
    background-color: #f0f0f0;
}

.capabilities-wrapper {
    display: flex;
    gap: 116px;
}

.capabilities-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
    width: 287px;
}

.capabilities-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.capabilities-content {
    display: flex;
    padding: 72px 0;
    gap: 106px;
    width: 694px;
}

.capabilities-content-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-top: 0;
    margin-bottom: 34px;
}

.capabilities-content-subtitle {
    color: #444444;
}

/* Delivery button */
.delivery-button-wrapper {
    margin-bottom: 70px;
}

.delivery-button {
    width: 100%;
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.48px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    background-color: #f0f0f0;
}

/* .delivery-button img {
    background-color: #ffe17f;
} */

.delivery-button::before {
    content: url(../images/delivery-button.svg);
    background-color: #ffe17f;
}

/* Shop information */
.information-wrapper {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.shop-information {
    width: 520px;
}

.shop-information-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.shop-information p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #444444;
}

.shop-information-delivery {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.shop-information-delivery li {
    margin-bottom: 19px;
}

.shop-information-details {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* Contacts */
.contacts {
    width: 532px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    margin-top: 47px;
    margin-bottom: 48px;
}

.contacts-subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    color: #444444;
}

.contacts p {
    margin-top: 0;
    margin-bottom: 30px;
    color: #444444;
}

.contacts-address {
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-address p {
    margin-bottom: 0;
}

.contacts-address-text {
    font-style: normal;
}

.contacts-phone {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    font-style: normal;
}

.contacts-schedule {
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;
    color: #444444;
    list-style-type: none;
}

.contacts-details {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* Subscription */
.subscription {
    background-color: #f0f0f0;
}

.subscription-wrapper {
    padding-top: 64px;
    padding-bottom: 56px;
}

.subscription-text {
    display: flex;
    justify-content: space-between;
}

.subscription-title {
    margin-top: 0;
    margin-bottom: 144px;
    max-width: 348px;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.subscription p {
    margin-top: 0;
    margin-bottom: 144px;
    max-width: 560px;
    color: #444444;
}

.subscription-form-container {
    display: flex;
    justify-content: space-between;
}

.subscription-form {
    display: flex;
    max-width: 810px;
}

.subscription-placeholder {
    width: 557px;
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.subscription-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.subscription span {
    color: #444444;
}

/* Footer */
.page-footer {
    background-color: #444444;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    margin-top: 62px;
    margin-bottom: 77px;
    width: 234px;
}

.footer-details {
    display: flex;
    flex-direction: column;
    gap: 62px;
    margin-top: 137px;
    margin-bottom: 61px;
    width: 444px;
}

.footer-phone {
    display: flex;
    flex-direction: column;
    gap: 63px;
    margin-top: 140px;
    margin-bottom: 65px;
    width: 175px;
}

.footer-address-text {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.footer-menu-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu-link {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-phone-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

/* Catalog */
.main-inner {
    padding-top: 35px;
}

.inner-header {
    width: 1080px;
    margin: 0 auto 34px;
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs {
    display: flex;
    gap: 36px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 20px;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.catalog-products {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.catalog-products-wrapper {
    display: flex;
}

.catalog-products-subtitle {
    margin: 0;
    padding: 25px 0;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-wrapper {
    width: 320px;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.catalog-filter-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.range-input[value] {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.control {
    font-size: 16px;
    line-height: 20px;
}

.sorting-container {
    display: flex;
    gap: 206px;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
}

.catalog-filter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* Product list */
.product-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 70px 0 78px;
    background-color: #ffffff;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 40px;
    justify-content: center;
    width: 840px;
    margin: 0 0 40px;
    padding: 0;
    list-style-type: none;
}

.product-card {
    max-width: 360px;
}

.product-card a {
    color: #000000;
    text-decoration: none;
}

.product-card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card-title {
    display: block;
    max-width: 226px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    line-height: 21.33px;
    text-align: right;
}

.product-list-button {
    width: 760px;
    padding: 18px;
    margin-bottom: 44px;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: space-between;
    width: 760px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    list-style-type: none;
}

.pagination-item {
    padding: 25px;
}

.pagination-prev,
.pagination-show-more {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-disabled {
    color: #444444;
}

.pagination-current {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-align: center;
    text-decoration: none;
}