@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

/* Index */
/* Header */

.page-header {
    color: #000000;
    background-color: #ffe17f;
}

.page-logo-link {
    display: block;
    padding-left: 60px;
}

.header-wrapper {
    width: 1040px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    padding: 0 60px;
}

.search-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.search-button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.user-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-menu-link {
    text-decoration: none;
    color: #000000;
}

.navigation {
    padding: 0 60px;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-category-link {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 800;
    line-height: 21.13px;
    letter-spacing: 0.2em;
}

.navigation-catalog {
    list-style-type: none;
}

.navigation-catalog-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

/* Main */
/* Hero block */
.main-container {
    flex-grow: 1;
}

.slider-item-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.slider-item-description {
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.slider-item-link {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.table-row {
    font-size: 36px;
}

.table-header th {
    font-weight: 400;
    font-size: 16px;
    color: #444444;
}

.slider-pagination {
    list-style-type: none;
}

/* Categories */
.categories-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.categories-item {
    width: 160px;
}

.categories-item-link {
    background-color: #ffe17f;
    color: #000000;
    text-decoration: none;
}

.categories-item-link h3 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

/* Capabilities */
.capabilities {
    background-color: #f0f0f0;
}

.capabilities-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.capabilities-content-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.capabilities-content-subtitle {
    color: #444444;
}

/* Delivery button */
.delivery-button {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23.48px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    background-color: #f0f0f0;
}

.delivery-button img {
    background-color: #ffe17f;
}

/* Shop information */
.information-wrapper {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}

.shop-information {
    width: 520px;
}

.shop-information-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.shop-information p {
    color: #444444;
}

.shop-information-delivery {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.shop-information-details {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* Contacts */
.contacts {
    width: 532px;
}

.contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.contacts-subtitle {
    font-size: 24px;
    color: #444444;
}

.contacts p {
    color: #444444;
}

.contacts-address-text {
    font-style: normal;
}

.contacts-phone {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444444;
    font-style: normal;
}

.contacts-schedule {
    color: #444444;
    list-style-type: none;
}

.contacts-details {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* Subscription */
.subscription {
    background-color: #f0f0f0;
}

.subscription-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

.subscription p {
    color: #444444;
}

.subscription-placeholder {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
}

.subscription-button {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.subscription span {
    color: #444444;
}

/* Footer */
.page-footer {
    background-color: #444444;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    width: 234px;
}

.footer-details {
    width: 444px;
}

.footer-phone {
    width: 175px;
}

.footer-address-text {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.footer-menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu-link {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-phone-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

/* Catalog */
.inner-header {
    width: 1080px;
    margin: 0 auto;
}

.inner-header-title {
    font-size: 50px;
    line-height: 50px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 20px;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.catalog-products {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

.catalog-products-wrapper {
    display: flex;
}

.catalog-products-subtitle {
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-wrapper {
    width: 320px;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.catalog-filter-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.range-input[value] {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.control {
    font-size: 16px;
    line-height: 20px;
}

.select-control {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
}

.catalog-filter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/* Product list */
.product-list {
    width: 840px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    list-style-type: none;
}

.product-card a {
    color: #000000;
    text-decoration: none;
}

.product-card-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
}

.product-card-price {
    font-weight: 400;
    line-height: 21.33px;
    text-align: right;
}

.product-list-button {
    width: 760px;
    background-color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 18.78px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
}

.pagination {
    width: 760px;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    list-style-type: none;
}

.pagination-prev,
.pagination-show-more {
    font-family: "Raleway", sans-serif;
    line-height: 21.13px;
    letter-spacing: 0.2em;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-disabled {
    color: #444444;
}

.pagination-current {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    text-align: center;
    text-decoration: none;
}